In [3]:
import mysql.connector

host = "localhost"
user = "root"
password = ""
database = "student"

In [4]:
connect = mysql.connector.connect (host=host, user=user, password=password,database=database)

In [6]:
cursor = connect.cursor()

In [9]:
cursor.execute("Select * from user")
result=cursor.fetchall()
for row in result:
    print(row)
cursor.close()
connect.close()

(1, 'admin@gmail.com', '1234')

In [12]:
import sqlite3 as sq

In [15]:
connection = sq.connect("database.db")
cur=connection.cursor()

In [17]:
cur.execute("CREATE TABLE IF NOT EXISTS USER (id int, name varchar)")

In [19]:
cur.execute("Insert into user values(?,?)",(1,"ram"))

In [21]:
cur.execute("Select * from user")
result = cur.fetchall()
for row in result :
    print(row)

(1, 'ram')

In [1]:
import mysql.connector

# Step 1: Connect to MySQL database
conn = mysql.connector.connect(
    host="localhost",          # Your MySQL server host
    user="root",               # Your MySQL username
    password="",  # Your MySQL password
    database="student"   # Your MySQL database name
)

# Step 2: Create a cursor object
cursor = conn.cursor()

# Step 3: Define the SQL query for inserting data
insert_query = """
INSERT INTO users (name, username, password) 
VALUES (%s, %s, %s)
"""

# Step 4: Define the data to insert
name = "Alice Smith"
username = "alice123"
password = "securepassword"

# Step 5: Execute the query and insert the data
cursor.execute(insert_query, (name, username, password))

# Step 6: Commit the transaction to save changes in the database
conn.commit()

# Print how many rows were inserted
print(f"Inserted {cursor.rowcount} row(s) into the database.")

# Step 7: Close the cursor and connection
cursor.close()
conn.close()

Inserted 1 row(s) into the database.