# Create Connection

In [51]:

import mysql.connector as sql
conn=sql.connect(host="localhost",user="root", password="",database="student")
cur=conn.cursor()
if conn.is_connected():
    print("Connected to the database")
else:
    print("Connection failed")

Connected to the database

# CREATE NEW TABLE STUDENT_TD

In [48]:
cur.execute("Create table if not exists student_tb  (id int, name varchar(10), department varchar(10))")

# INSERT INTO TABLE

In [52]:
id = input("Enter ID : ")
name = input("Enter name : ")
dept = input("Enter dept : ")
cur.execute("Insert into student_tb values(%s,%s,%s)",(id,name,dept))
print("INSERTED SUCCESSFULLY")
conn.commit()

Enter ID :  30
Enter name :  leo
Enter dept :  cs

INSERTED SUCCESSFULLY

# Select from table

In [50]:
query="Select * from student_tb"
cur.execute(query)
result=cur.fetchall()
for row in result :
    print(row)

(20, 'rahul', 'cs')
(20, 'rahul', 'cs')
(4, 'leo10', 'cs')

# Update the table

In [25]:
id=input("Enter id to update : ")
name=input("Enter new name : ")
dept=input("Enter new dept : ")
cur.execute("Update student_tb set name=%s, department=%s where id=%s",(name,dept,id))
print(cur.rowcount)

Enter id to update :  2
Enter new name :  ram
Enter new dept :  cs

1

# Delete From Table

In [36]:
id = input("Enter the id to delete: ")
cur.execute("Delete from student_tb where id=%s",(id,))
print(cur.rowcount, " Deleted")

Enter the id to delete:  2

1  Deleted