# LIST

In [71]:
listt=[1,2,3]
print(listt)

[1, 2, 3]

In [12]:
print(listt[-1])

3

In [72]:
listt1=["apple","orange","carrot"]
print(listt1)

['apple', 'orange', 'carrot']

In [73]:
listt.append("abc")
print(listt)

[1, 2, 3, 'abc']

In [74]:
listt.insert(2,"sample")

In [16]:
print(listt)

[1, 2, 'sample', 3, 'abc']

In [75]:
listt.extend(listt1)
print(listt)

[1, 2, 'sample', 3, 'abc', 'apple', 'orange', 'carrot']

In [18]:
print(len(listt))

8

In [76]:
thislistt = ["apple", "banana", "cherry"]
[print(x) for x in thislistt]

apple
banana
cherry

[None, None, None]

In [20]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlistt = []

for x in fruits:
  if "a" in x:
    newlistt.append(x)

print(newlistt)

['apple', 'banana', 'mango']

In [21]:
thislistt = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislistt.sort()
print(thislistt)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [78]:
n=int(input("Enter n : "))
listt=[]
sum=0
for i in range(n):
    x=input("Enter listt elemnt")
    listt.append(x)
    if isinstance(x,(int,float)):
      sum+=x
print(listt)
print(f"Sum= {sum}")

Enter n :  1
Enter listt elemnt 1

['1']
Sum= 0

# TUPLE

In [24]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [25]:
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

In [26]:
thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

('apple', 'banana', 'cherry')

In [27]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

In [28]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

# SETS

In [29]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'banana', 'apple', 'cherry'}

In [31]:
x = {"a", "b", "c"}
y = (1, 2, 3)

z = x.union(y)
print(z)

{1, 2, 3, 'c', 'a', 'b'}

# Dictionaries

In [32]:
dict = { "name" : "ram", "age":29}
print(dict)

{'name': 'ram', 'age': 29}

In [33]:
print(len(dict))

2

In [35]:
x = dict.get("name")
print(x)

ram

In [36]:
print(dict.keys())

dict_keys(['name', 'age'])

In [37]:
x = dict.values()
print(x)

dict_values(['ram', 29])

In [79]:

# Initialize an empty dictionary
students_marks = {}

# Get the number of students
num_students = int(input("Enter the number of students: "))

# Get marks for each student
for _ in range(num_students):
    name = input("Enter the student's name: ")
    marks = list(map(int, input(f"Enter the marks for {name}, separated by spaces: ").split()))
    students_marks[name] = marks

# Calculate and print the average marks for each student
for student, marks in students_marks.items():
    average_marks = sum(marks) / len(marks)
    print(f"{student}'s average marks: {average_marks:.2f}")

Enter the number of students:  1
Enter the student's name:  abc
Enter the marks for abc, separated by spaces:  10

TypeError: 'list' object is not callable

# FILES

In [65]:
f=open("sample.txt")
x=f.read()
count=x.split()
print(count)
x=len(count)
print(x)

['Hello!', 'Welcome', 'to', 'demofile.txt', 'This', 'file', 'is', 'for', 'testing', 'purposes.', 'Good', 'Luck!']
12

In [66]:
f = open("myfile.txt", "w")
f.write(str(x))
f.close()
f=open("myfile.txt","r")
print(f.read())

12

In [61]:
count=0
with open("sample.txt") as file :
    for line in file:
       count+=1

print(count)

3